* { box-sizing: border-box; margin:0; padding:0; }

html, body {
color: #fff;
font-family: arial narrow;
font-size: 16px;
background: #0A2554;
}

body { margin: 20px; }


.i-bahamasmap {
	width: 1000px;
	height: 1295px;
	margin: auto;
	position: relative;
	background-image:url(img/map-white.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.map-island {
	position: absolute;
	z-index:5;
	top:0; /* gets overruled by js applied styles */
	left:0;/* gets overruled by js applied styles */
}

.map-island.hovered {
	z-index:10;
	cursor: pointer;
}

.map-island.hovered * {
	cursor: pointer;
}

.map-island span { 
position: absolute;
z-index:2;
white-space: nowrap;
opacity: 1;
transition: 5s;
}

.i-bahamasmap.hovermode span {
opacity:0;
transition: 1s;
}

.map-sub {
	position: absolute;
	background-image:url(img/map-color.png);
	opacity:0;
	transition: 0.3s;
}

.i-bahamasmap.hovermode .map-island.hovered .map-sub {
	opacity:1;
}

.map-island-info {
pointer-events: none;
opacity: 0;
transition: 1s;
position: absolute;
top:0px;
left: 100%;
width: 300px;
background: rgba(10, 37, 84, 0.79);
padding: 10px;
}

.map-island.hovered .map-island-info {
pointer-events: all;
opacity:1;
}

.map-island-info header {

}

.map-island-info header a {
text-decoration: none;
color: #fff;
font-size: 20px;
font-weight: bold;
white-space: nowrap;
}

.map-island-info button {
display:block;
margin: 10px auto 0 auto;
font-size: 14px;
border: none;
border-radius: 4px;
padding: 5px;
}