/* For the demo page only. Probably don't want these on the page you integrate the map into */

html, body { background-color: #0A2554; }
body { margin: 20px; }



/*----------------------------- */
/* Main Map Styles */
/* Many necessary for the JS to function */

* { box-sizing: border-box; margin:0; padding:0; }

.i-bahamasmap {
	width: 1000px;
	height: 1295px;
	margin: auto;
	position: relative;
	background-image:url(img/map-white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #0A2554;
	color: #fff;
}

.map-island {
	position: absolute;
	z-index:5;
	top:0; /* gets overruled by js applied styles */
	left:0;/* gets overruled by js applied styles */
}

.map-island.hovered, .map-island.js-open {
	z-index:10;
	cursor: pointer;
	//background: rgba(255, 215, 0, 0.13);
}

.map-island.hovered * {
	cursor: pointer;
}

.map-island span { 
position: absolute;
z-index:2;
white-space: nowrap;
opacity: 1;
transition: 5s;
}

.map-island.js-open span {
opacity:0;
transition: 1s;
}

.map-sub {
	position: absolute;
	background-image:url(img/map-color.png);
	opacity:0;
	transition: 0.3s;
}

/* Show island shape hover state when hovered or when "open"  */
.map-island.hovered .map-sub, .map-island.js-open .map-sub {
	opacity:1;
}


.map-island-info {
pointer-events: none;
z-index:2;
opacity: 0;
transition: 1s;
position: absolute;
top:0px;
left: 100%;
width: 300px;
background: rgba(10, 37, 84, 0.95);
padding: 10px;
border: 3px solid gold;
border-radius: 20px;

}


.map-island.js-open .map-island-info {
pointer-events: all;
opacity:1;
}

.map-island.js-open .map-island-info * {
pointer-events: all;
}


/* ----------------------------- */
/* Purely decorative styles that should have no effect on JS behaviour */
/* Feel free to modify. */
/* ----------------------------- */

.i-bahamasmap {
	font-family: "Trebuchet MS";
	font-size: 16px;
}

.map-island-info a { text-decoration: none; }

.map-island-info header a {
color: gold;
font-size: 20px;
font-weight: bold;
white-space: nowrap;
letter-spacing: 0.15em;
transition: 1s;
}

.map-island-info header a:hover {
letter-spacing: 0.4em;
}

.map-island-info a.button {
display:block;
margin: 10px auto 0 auto;
font-size: 14px;
text-align: center;
border: none;
border-radius: 4px;
padding: 5px;
width: 30%;
transition: 0.5s;
background: #fff;
}

.map-island-info a.button:hover {
background: gold;
cursor: pointer;
width: 100%;
}

