* { box-sizing: border-box; margin:0; padding:0; }

html, body {
color: #fff;
font-family: arial narrow;
font-size: 16px;
background: #0A2554;
}

body { margin: 20px; }


.i-bahamasmap {
	width: 1000px;
	height: 1295px;
	margin: auto;
	position: relative;
	background-image:url(img/map-white.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.map-island {
	position: absolute;
	z-index:5;
	top:0; /* gets overruled by js applied styles */
	left:0;/* gets overruled by js applied styles */
}

.map-island.hovered {
	z-index:10;
	cursor: pointer;
}

.map-island span { 
position: absolute;
z-index:2;
white-space: nowrap;
}

.map-sub {
	position: absolute;
	background-image:url(img/map-color.png);
	opacity:0;
	transition: 0.3s;
}

.i-bahamasmap.hovermode .map-island.hovered .map-sub {
	opacity:1;
}


