* { box-sizing: border-box; margin:0; padding:0; }

html, body {
color: #fff;
font-family: arial narrow;
font-size: 16px;
background: #0A2554;
}

body { margin: 20px; }


.i-bahamasmap {
	width: 647px;
	height: 666px;
	margin: auto;
	position: relative;
}

.map-island {
	position: absolute;
	z-indez:5;
	top:0;
	left:0;
	transition:1s;
}

.i-bahamasmap.hovermode .map-island.hovered {
	z-index:10;
	transform: scale(1.5);
	opacity: 1;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	cursor: pointer;
}

.map-island span { 
position: absolute;
z-index:2;
white-space: nowrap;
}

.map-sub {
	position: absolute;
	background-image:url(img/mapcolor.png);
}

.i-bahamasmap.hovermode .map-island { 
	opacity:0.7;
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

